<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project Detail</title>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
  <header class="global-header">
    <h1 class="head-title">Project Management System</h1>
    <div class="sub-menu">
      <p class="user-name">Robert McCall</p>
      <button class="logout">Logout</button>
    </div>
  </header>
  <main>
    <div class="detail-wrap">
      <p class="detail-title">Project Title</p>
      <div class="detail-sub">
        <div>
            Robert McCall | 2025/02/15
        </div>
        <div>
          <span class="phase -col-1">Working</span>
        </div>
      </div>
      
      <div class="detail-content">
        content text.content text.content text.content text.content text.
        content text.content text.content text.content text.content text.
        content text.content text.content text.content text.content text.<br><br>
        content text.content text.content text.content text.content text.
        content text.content text.content text.content text.content text.
        content text.content text.content text.content text.content text.
        content text.content text.content text.content text.content text.
        content text.content text.content text.content text.content text.
      </div>
      <div class="comment-wrap">
        <p class="comment-title">Comments</p>
        <ul class="comment-list">
          <li>
            <div class="comment">This is awesome project!</div>
            <p class="comment-written">John Smith | 2025/03/01 12:34</p>
          </li>
          <li>
            <div class="comment">Great!</div>
            <p class="comment-written">John Smith | 2025/03/01 12:34</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="commit-comment-wrap">
      <input type="text" name="comment" placeholder="Enter your comment.">
      <button type="button">SUBMIT</button>
    </div>
  </main>
</body>
</html>