<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project Detail</title>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
  <header th:replace="fragments/header :: header"></header>
  <main>
    <div class="detail-wrap">
      <p>
        <a th:href=@{/projects}>&lt; Back</a>
      </p>
      <div class="main-board">
        <p class="detail-title" th:text="${project.title}">Project Title</p>
        <div class="detail-sub">
          <div th:text="${project.user.name} + ' | ' + ${#dates.format(project.createdDate, 'yyyy/MM/dd')}">
              Robert McCall | 2025/02/15
          </div>
          <div>
            <span th:class="'phase -col-' + ${project.phase.id}" th:text="${project.phase.label}">Working</span>
          </div>
        </div>
        
        <div class="detail-content" th:utext="${#strings.replace(project.content, '\n', '<br>')}">
          content text.
        </div>
        <div class="comment-wrap">
          <p class="comment-title">Comments</p>
          <ul class="comment-list">
            <li th:each="comment: ${project.comments}">
              <div class="comment" th:text="${comment.comment}">This is awesome project!</div>
              <p class="comment-written" th:text="${comment.user.name} + ' | ' + ${#dates.format(comment.createdDate, 'yyyy/MM/dd HH:mm')}">John Smith | 2025/03/01 12:34</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="commit-comment-wrap">
        <form action="/project/comment" method="post" th:object="${formModel}">
          <input type="hidden" name="projectId" th:value="${project.id}">
          <input type="text" name="comment" placeholder="Enter your comment.">
          <input type="submit" value="SUBMIT">
        </form>
      </div>
    </div>
  </main>
</body>
</html>