<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project Edit / Create</title>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
  <header class="global-header">
    <h1 class="head-title">Project Management System</h1>
    <div class="sub-menu">
      <p class="user-name">Robert McCall</p>
      <button class="logout">Logout</button>
    </div>
  </header>
  <main>
    <div class="edit-wrap">
      <h2>Create Prooject</h2>
      <form action="/project/create" method="post" th:object="${formModel}">
        <div class="form-wrap">
          <div>
            <label>Title</label>
            <input type="text" name="title" placeholder="Enter the project title.">
          </div>
          <div>
            <label>Content</label>
            <textarea name="content"></textarea>
          </div>
          <div>
            <input type="submit" value="CREATE">
          </div>
        </div>
      </form>
    </div>
  </main>
</body>
</html>